<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Favicons for all devices -->
    <link rel="icon" type="image/png" href="img/favicons/favicon.png" sizes="32x32">

	<link rel="stylesheet" href="assets/css/main.css">
    <title>Frontend dev</title>

    <!-- Поддержка старых браузеров-->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<header>
    <div class="container">
        <nav>
            <div class="header_phone">
                <span>Tel: <a href="tel:">+373 (69) 48 48 48</a></span>
            </div>
            <div class="header_logo">
                <img src="assets/img/logo.png" alt="Logo">
            </div>
            <div class="header_lang">
                En
            </div>
        </nav>
        
    </div>
</header>




<nav>
    <div class="container">
        <input type="checkbox" id="checkbox3" />
        <label for="checkbox3">
            <ul class="menu">
                <li><a href="#">About us</a></li>
                <li><a href="#">Stok</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">contacts</a></li>
            </ul>
            <span class="toggle">☰</span>
        </label>
    </div>
</nav>


