@font-face {
  font-family: Museo100;
  src: url(../fonts/MuseoSansCyrl-100.woff2) format("woff2"), url(../fonts/MuseoSansCyrl-100.woff) format("woff"), url(../fonts/MuseoSansCyrl-100.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: Museo300;
  src: url(../fonts/MuseoSansCyrl-300.woff2) format("woff2"), url('../fonts/MuseoSansCyrl-300.woff') format("woff"), url('../fonts/MuseoSansCyrl-300.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: Museo500;
  src: url(../fonts/MuseoSansCyrl-500.woff2) format("woff2"), url('../fonts/MuseoSansCyrl-500.woff') format("woff"), url('../fonts/MuseoSansCyrl-500.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: Museo700;
  src: url('../fonts/MuseoSansCyrl-700.woff2') format("woff2"), url('../fonts/MuseoSansCyrl-700.woff') format("woff"), url('../fonts/MuseoSansCyrl-700.ttf') format("truetype");
  font-style: normal;
}

@font-face {
  font-family: Museo900;
  src: url('../fonts/MuseoSansCyrl-900.woff2') format("woff2"), url('../fonts/MuseoSansCyrl-900.woff') format("woff"), url('../fonts/MuseoSansCyrl-900.ttf') format("truetype");
  font-style: normal;
}
